body {
    background-color: pink;
    margin-left: 20px;
    margin-right: 20px; 

}

header {
    background-color: hotpink;
    color: aliceblue; 
    padding: 5px;
    font-size: 16pt;

}

footer {
    background-color: hotpink;
    color: aliceblue; 
    padding: 5px;
    font-size: 11pt;
    font-style: italic;
    text-align: right;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}

h1 {
    font-size: 50pt;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
}

img {
    width: 80%;
    margin: 20px;
}

div, li {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
