body {
    margin: 0;
}

main {
    margin-bottom: 40 px;
    padding: 10px;
}

header {
    margin-bottom: 30px;
    padding: 20px;
    background: lightgray;
}

footer {
    margin-top: 20 px;
    padding: 10px;
    background: lightgray;
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.error {
    background-color: red;
}

.ticket_forma {

    background-color: purple;
    margin: 5px;
}