body {
    margin-left: 20px;
    margin-right: 20px;
    background-color: pink; 
}
main {
    padding: 10px;

}

header {
    background-color: hotpink;
    color: aliceblue; 
    padding: 5px;
    font-size: 16pt;
}
footer {
    background-color: hotpink;
    color: aliceblue; 
    padding: 5px;
    font-size: 11pt;
    font-style: italic;
    text-align: right;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}
