{% extends "base.html" %}

{% block lab %} Лабораторная работа 4 {% endblock %}

{% block main %}
<h1>Cookies</h1>
<form method="post">
    <div>
        <label for="color">Выберете цвет:</label>
        <input type="color" id="color" name="color">
    </div>
    <div>
        <button type="submit">ОК</button>
    </div>
    <div>
        <label for="background">Выберете цвет фона:</label>
        <input type="color" id="background" name="background">
    </div>
    <div>
        <button type="submit">ОК</button>
    </div>

    <div>
        <label for="text">Выберете размер текста: </label>
        <input type="text" id="text" name="text">
    </div>
    <div>
        <button type="submit">ОК</button>
    </div>
</form>

{% endblock %}
