{% extends "base5.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}

    <div>
        <h1>База знаний</h1>
        <a href="#">Просмотреть заметки</a>
        <a href="#" style="margin-left: -40px;">Создать заметку</a>
        <a href="#" class="log">Логин</a>
        <a href="http://127.0.0.1:5000/lab5/register" class="reg">Регистрация</a>
        <p>Апоп</p>
    </div>
{% endblock %}

{% block menu %}
    <a href="http://127.0.0.1:5000/menu" target="_blank">Меню</a>
{% endblock %}

