{% extends "base5.html" %}

{% block lab %}Лабораторная работа 7{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='lab7/drink.js') }}"></script>
{% endblock %}

{% block main %}
    <h1>Заказ напитка</h1>
    
    <div>Напиток</div>
    <label>
        <input type="radio" value="cofee" name="drink" checked>Кофе 
    </label>
    <label>
        <input type="radio" value="black-tea" name="drink" >Чёрный чай 
    </label>
    <label>
        <input type="radio" value="green-tea" name="drink" >Зелёный чай 
    </label>
    <div>Добавки:</div>
    <label>
        <input type="checkbox" name="milk">Молоко 
    </label>
    <label>
        <input type="checkbox" name="sugar">Сахар 
    </label>

    <div>
        <button onclick="getPrice()" type="submit">Рассчитать цену</button>
    </div>

    <div id="price"></div>

    <div id="pay" style="display: none;">
        <div>Номер банковской карты:</div>
        <label><input class="text_input_form" type="text" name="card"></label>
        <div>Имя держателя карты:</div>
        <label><input class="text_input_form" type="text" name="name"></label>
        <div>Номер CVV:</div>
        <label><input class="text_input_form" type="text" name="cvv" size="3"></label>
        <div><br><button class="text_input_form" type="submit" onclick="pay()">Оплатить</button></div>
        <button onclick="refund()" id="refund" type="submit" style="display: none;">Отмена оплаты</button>
        <br>
        <div id="error" style="color: red;"></div>

        <h3><div id="result"></div></h3>
        <br>

    </div>

{% endblock %}
